<!--confirmare pt primirea postarii-->

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/indexstyle.css' />
  </head>
  <body>
      <h1>Postarea a fost salvata cu succes!</h1>
  </body>
</html>
