<!--cont nou -->

<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
      <form action = "/login/contnou" method ="POST">
        <label for = "numeUtilizator">nume de utilizator:</label>
        <input type = "text" id = "numeUtilizator" name = "numeUtilizator">
        <br>
        <label for = "parola">parola:</label>
        <input type = "text" id = "parola" name = "parola">
        <br>
        <button type = "submit">creeaza</button>
        <p>ai deja cont?</p>
        <a href = "/login">login</a>
      </form>
  </body>
</html>
