<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <link rel='stylesheet' href='/stylesheets/indexstyle.css' />
  <label for="cautaDupa">cauta dupa</label>
  <form action=/ method="POST">
    <select name="cautareDupa" id="cautaDupa">
      <option value="titlu">titlu</option>
      <option value="continut">continut</option>
      <option value="autor">autor</option>
      <option value="tag">tag</option>
    </select>
    <input type="text" name="cautare" placeholder="cauta....">
    <button type="submit">cauta</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form action="/logout" method="POST">
    <button type="submit">logout</button>
  </form>
  <form action="/login" method="GET">
    <button type="submit">login</button>
  </form>
</body>

</html>