<!--login-->

<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
      <form action = "/login" method ="POST">
        <label for = "numeUtilizator">nume de utilizator:</label>
        <input type = "text" id = "numeUtilizator" name = "numeUtilizator">
        <br>
        <label for = "parola">parola:</label>
        <input type = "text" id = "parola" name = "parola">
        <br>
        <button type = "submit">login</button>
        <p>nu ai cont?</p>
        <a href = "/login/contnou">creeaza cont</a>
      </form>
  </body>
</html>
