<!--modifica profil--> 

<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
      <form action = "/utilizatori/<%=numeUtilizator%>/editeazaprofil" method = "POST">
          <label for = "numeUtilizatorNou">nume utilizator nou:</label>
          <input type = "text" name = "numeUtilizatorNou" id = "numeUtilizatorNou">
          <button type = "submit">aplica modificarile</button>
      </form>
  </body>
</html>
