<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action = /postare method="POST">
        <label for = "titlu">Titlu:</label><br>  
        <input type = "text" id = "titlu"><br>
        <label for = "descriere">Descriere:</label><br>
        <input type = "text" id = "descriere"><br>
        <label for = "autor">Autor:</label><br>
        <input type = "text" id = "autor"><br><br>
        <button type = "submit"></button>
      </form>
  </body>
</html>
