<!--postare noua-->

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/postarestyle.css' />
  </head>
  <body>
      <form action = /postare method="POST">
        <label for = "titlu">Titlu:</label><br>  
        <input type = "text" name = "titlu" id = "titlu"><br>
        <label for = "descriere">Descriere:</label><br>
        <input type = "text" name = "descriere" id = "descriere"><br>
        <label for = "autor">Autor:</label><br>
        <input type = "text" name = "autor" id = "autor"><br><br>
        <button type = "submit" id = "trimite">Trimite</button>
      </form>
  </body>
</html>
