<!--utilizator--> 

<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
      <h1><%= postari %></h1>
      <button onclick = "adauga()">adauga postare</button>
      <button onclick = "editeazaprofilul()">editeaza profilul</button>
      <script>
      </script>
  </body>
</html>